{{template "header"}}
    <main>
    <h1>Movies</h1>
    <!-- Movie list -->
    <h2>Movie List</h2>
    <ul id="movie-list">
      {{range .}}
      <li><a href="/film/{{.ID}}">{{.Name}}</a></li>
      {{end}}
    </ul>
  <!-- Add Movie Form -->
    <h2>Add a Movie</h2>
    <form id="add-movie-form" action="/movie" method="POST">
      <label for="movie-name">Movie Name:</label>
      <input type="text" id="movie-name" name="movie" placeholder="Enter movie name" required />
      <br /><br />
      <label for="director">Director:</label>
      <input type="text" id="director" name="director" placeholder="Enter director name" required />
      <br /><br />
      <label for="rating">Rating:</label>
      <input type="number" min="1" max="10" step="1" id="rating" name="rating" placeholder="Enter rating" required />
      <br /><br />
      <button type="submit">Add Movie</button>
    </form>
    </main>
{{template "footer"}}
